
@import "../vendor/skeleton-sass/skeleton.scss";

@import "parts/main";
@import "parts/header";
@import "parts/aboutpirius";
@import "parts/service";
@import "parts/clients";
@import "parts/contactformular";
@import "parts/footer";
@import "parts/courses";
@import "parts/team";
