/**
* About-Pirius
*/

.about-pirius{
    padding-top: 200px;
    padding-bottom:200px;
    text-align: center;
    background-color: #f7f7f7;
    color:#313d49;
    font-family: $font-timesnewroman;
}
