
/**
* Courses - Bereich
*/


.course-overview{
    background-color: white;
    padding:5%;
    padding-top:9%;
    

}

.course-overview h2{
    font-family: $font-timesnewroman;
}

.first-course,
.second-course,
.third-course,
.fourth-course{
    border: 3px solid #a7a0a0;
    background-color: white;
    height: 370px;
    padding-left: 60px;
    padding-right: 65px;
    padding-top: 23px;
    padding-bottom: 82px;
    border-radius: 10px;
    font-size: 130%;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    position: relative;
}

.first-course p,
.second-course p,
.third-course p,
.fourth-course p{
    text-align: left;
}

.contact-formular-courses{
    padding-top:0px;
}

.button-courses{
    color:white;
    text-shadow:none;
    background-color: cadetblue;
    margin-top: 10px;

}
.button-courses:hover{
    color: grey;
    text-shadow:none;

}
.footer-courses{
    padding-top:30px;
    text-align: center;
}

#one-on-one-distance{
    margin-bottom: 58%;
}

/**
* MORNING COURSE
*/

.header-two{
height: 150px;
}

.header-navbar-links-two {
    color: black;
    float: right;
    font-family: $font-mulish;
    
}

.header-brand-two{
    font-family: $font-timesnewroman;
}

.header-navbar-links-two li{
    float: left;
    list-style-type: none;
    margin-top: 49px;
    margin-left: -51px;
    margin-right:100px;
}

.header-navbar-links-two a{
    color:black;
    text-decoration: none;
}

.header-navbar-links-two a:hover{
    color:black;
    text-decoration: underline;
    transition: all 0.5s;
}

.header-brand-two {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 200%;
    margin-top: -45%;
    display: block;
}

.morning-course{
    height:561px;
    width: 100%;
    padding:100px;
    padding-bottom:0px;
    padding-left:0px;
    text-align: center;
}

.header-brand-wrapper{
    margin-left: 180px;
}

.button-morning-course{
    color:white;
    background-color: cadetblue;
}

/*
** MORNING-COURSE-BEGINNER
*/
.picture-morning-course{
    text-align: center;
    top: 925px;
    right: 127px;
    float: right;
    position: absolute;
}

.picture-border{
    border: 3px solid black;
    background-color: white;
    height: 524px;
    width: 504px;
    position: relative;
    top: -397px;
    right: -1313px;
}

.morning-section-first-box,
.morning-section-second-box{
    height: 300px;
    width: 511px;
    background-color: white;
    color: black;
    position: absolute;
    top: 1042px;
    right: 1028px;
}

.morning-section-second-box{
    top: 1408px;
}

.morning-course-text-over{
    width: 72%;
    position: relative;
    top: 33px;
    right: 51px;
    padding-bottom: 83px;
    font-family: "Mulish", sans-serif;
    font-variant: small-caps;
}
#morning-course-text-over-h2{
    font-size:68px;
    text-shadow:0px 0px 3px grey;
}

.morning-course-text-over h4{
    position: absolute;
    right: 449px;
    text-decoration: underline;
}
.morning-course-text p{
    width: 100%;
    text-align: left;
    font-family: $font-mulish;
    font-size: 23px;
    padding-left: 17px;
}

#h3-1{
    position: absolute;
    top: -27px;
    right: 239px;
    color: black;
    font-family: "Mulish", sans-serif;
    font-size: 39px;
    text-decoration: underline;
}

#h3-2{
    position: absolute;
    top: -27px;
    right: 219px;
    color: black;
    font-family: "Mulish", sans-serif;
    font-size: 39px;
    text-decoration: underline;
}

.morning-course-text h3{
    width: 94%;
    font-size:44px;
    font-family:$font-timesnewroman;
}

.morning-section{
    padding-left: 235px;
    float: left;
}

.button-morning-course{
    background-color: cadetblue;
    color: black;
    text-shadow: none;
    position: absolute;
    top: 139px;
    right: -300px;
}

/*
** MORNING-COURSE-INTERMEDIATE
*/

.morning-course-intermediate{
    height: 868px;
}

.picture-morning-course-intermediate{
    text-align: center;
    position: absolute;
    right: 130px;
    top: 975px;
}

.picture-border-intermediate{
    border: 3px solid black;
    background-color: white;
    height: 318px;
    width: 504px;
    position: relative;
    top: -559px;
    right: -1313px;
}
.morning-course-text-over-int{
    position: absolute;
    top: 760px;
    right: 169px;
}
.morning-course-text-over-int h4{
    position: absolute;
    top: 107px;
    right: 766px;
    text-decoration: underline;
}

#text-over-b2,
#text-over-b1{
    font-size: 39px;
    font-family: 'Mulish';
    text-decoration: underline;
    position: absolute;
    right: 138px;
}
#text-over-b1{
    right: 138px;
}
/*
** MORNING-COURSE-ADVANCED
*/

.morning-course-advanced{
    height: 678px;
}
.picture-border-advanced{
    border: 3px solid black;
    background-color: white;
    height: 393px;
    width: 473px;
    position: relative;
    top: 466px;
    right: -42px;
}
        
.picture-morning-course-advanced{
    text-align: center;
    position: absolute;
    top: 1030px;
    right: 1328px;
}

#morning-course-text-over-advanced{
    position: absolute;
    top: -44px;
    right: 143px;
    font-size: 64px;
}
.morning-course-text-over-ad h4{
    position:absolute;
    top: 36px;
    right: 251px;
    padding-top:10px;
    text-decoration: underline;
}
.morning-course-text-over-ad{
    width: 72%;
    position: relative;
    top: -237px;
    right: -187px;
    padding-bottom: 83px;
    font-family: "Mulish", sans-serif;
    font-variant: small-caps;
}
.morning-section-advanced-first,
.morning-section-advanced-second{
    height: 300px;
    width: 511px;
    background-color: white;
    color: black;
    position: absolute;
    top: 967px;
    right: 532px;
}
.morning-section-advanced-second{
    right: 532px;
    top: 1315px;
}


/**
* MORNING-COURSE-SELECTION
*/

.select-course{
    height:350px;
    padding:100px;
    padding-top: 175px;
    padding-bottom: 230px;
    text-align: center;
}

.select-course-title{
    font-family: $font-timesnewroman;
}

.button-morning{
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 87px;
}

.button-morning:hover{
    background-color:rgb(48, 170, 113);
}



/**
* AFTERNOON COURSE
*/

/**
* EVENING COURSE
*/

/**
* ONE-ON-ONE COURSE
*/