
/**
* Courses - Bereich
*/


.course-overview{
    background-color: white;
    padding:5%;
    padding-top: 9%;
    padding-left: 11%;
}

.course-overview h2{
    font-family: $font-timesnewroman;
}

.first-course,
.second-course,
.third-course,
.fourth-course{
    border: 3px solid #a7a0a0;
    background-color: white;
    height: 370px;
    padding-left: 16%;
    padding-right: 9%;
    padding-top: 9%;
    padding-bottom: 5%;
    border-radius: 10px;
    font-size: 130%;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    position: relative;
    margin-bottom: 6%;

    @media(min-width: 750px){
        height: 20%;
        padding-bottom: 11%;
        margin-bottom: 20%;
        margin-right:3%;
    }

    @media($bp-larger-than-desktop){
        width:100%;
    }
    @media($bp-larger-than-desktophd){
        padding-top: 20%;
        padding-bottom: 20%;
        width: 100%;
    }
}

.three.columns{
    @media($bp-larger-than-desktop){
        margin-right: 2%;    
        width: 5%;
    }
}

.second-course{
    @media(min-width: 750px){
        padding-bottom: 24%;
        margin-bottom:0%;
    }
}

.third-course{
    @media(min-width: 750px){
        padding-bottom: 20%;
        margin-bottom: 10%;
    }
}

.fourth-course{
    @media(min-width:750px){
        padding-top: 21%;
        padding-bottom: 24%;
    }
}

.first-course p,
.second-course p,
.third-course p,
.fourth-course p{
    text-align: left;
}

.contact-formular-courses{
    padding-top:0px;
}

.button-courses{
    color:white;
    text-shadow:none;
    background-color: cadetblue;
    margin-top: 10px;

}
.button-courses:hover{
    color: grey;
    text-shadow:none;

}
.footer-courses{
    padding-top:30px;
    text-align: center;
}

#one-on-one-distance{
    margin-bottom: 40%;
}

.row-course-overview{
    position: relative;
    display: inline;

}

.three-columns-course-overview{

    @media($bp-larger-than-phablet){
        width: 456%;
        float: left;
    }

    @media($bp-larger-than-desktop ){
        width: 250%;
        float: none;
    }

    @media($bp-larger-than-desktophd){
        width: 336%;
        float: none;
    }
}


/**
* MORNING-COURSE-SELECTION
*/

.select-course{
    height:500px;
    padding:100px;
    padding-top: 175px;
    padding-right: 0%;
    padding-bottom: 230px;
    text-align: center;
}

.select-course-title{
    font-family: $font-timesnewroman;
}


.button-morning-first,
.button-morning-sec,
.button-morning-third {
  background-color: #1e1e1e;
  color: white;
  font-size: 18px;
  padding-top: 15%;
  padding-right: 27%;
  padding-left: 30%;
  padding-bottom: 31%;
}

.button-morning-sec {
  padding-right: 19%;
  padding-left: 20%;
}

.button-morning-third {
  padding-right: 24%;
  padding-left: 30%;
}

.four.columns {
    @media (min-width: 550px) {
        width: 80%;
        margin-left:2%;
    }

    @media (min-width: 750px) {
        width: 65%;
        margin-left: 0%;
    }

    @media (min-width: 1000px) {
        width: 32%;
    }

    @media (min-width: 1200px) {
        width: 32%;
    }
}

.row-wrapper{
    @media (min-width: 1000px) {
        width: 130%;
        margin-left: -19%;
    }
}
.button-morning-first:hover,
.button-morning-sec:hover,
.button-morning-third:hover{
    background-color: cadetblue;
}

/**
* MORNING COURSE
*/

.header-two{
height: 150px;
}

.header-navbar-links-two {
    color: black;
    float: right;
    font-family: $font-mulish;
    
}

.header-brand-two{
    font-family: $font-timesnewroman;
}

.header-navbar-links-two li{
    float: left;
    list-style-type: none;
    margin-top: 49px;
    margin-left: -51px;
    margin-right:100px;
}

.header-navbar-links-two a{
    color:black;
    text-decoration: none;
}

.header-navbar-links-two a:hover{
    color:black;
    text-decoration: underline;
    transition: all 0.5s;
}

.header-brand-two {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 200%;
    margin-top: -45%;
    display: block;
}

.morning-course{
    height:1200px;
    width: 100%;
    padding:100px;
    padding-bottom:0px;
    padding-left:0px;
    text-align: center;
    @media(min-width:1000px){
        height:419px;
    }
}

.header-brand-wrapper{
    margin-left: 180px;
}

.button-morning-course{
    color:white;
    background-color: cadetblue;
}

/*
** MORNING-COURSE-BEGINNER
*/
.picture-morning-course{
    text-align: center;
    top: 989px;
    right: 127px;
    float: right;
    position: absolute;
    display:none;

    @media(min-width:1000px){
        display:block;
    }
}

.picture-border{
    border: 3px solid black;
    background-color: white;
    height: 524px;
    width: 504px;
    position: relative;
    top: -195px;
    right: -1313px;
    display:none;

    @media(min-width:1000px){
        display:block;
    }
}

.morning-section-first-box,
.morning-section-second-box{
    height: 300px;
    width: 511px;
    background-color: white;
    color: black;
    position: absolute;
    top: 1042px;
    right: -28px;

    @media(min-width:750px){
        right: 207px;
    }

    @media(min-width:1000px){
        right: 1028px;
    }
}

.morning-section-second-box{
    top: 1408px;
}

.morning-course-text-over{
    width: 120%;
    position: relative;
    top: 33px;
    right: 51px;
    padding-bottom: 83px;
    font-family: "Mulish", sans-serif;
    font-variant: small-caps;
}
.morning-course-text-over-h2{
    font-size:68px;
    text-shadow:0px 0px 3px grey;
}

.morning-course-text-over h4{
    position: absolute;
    right: 18%;
    text-decoration: underline;

    @media(min-width:750px){
        right: 30%;
    }

    @media(min-width:1000px){
        right: 40%;
    }
}
.morning-course-text p{
    width: 100%;
    text-align: left;
    font-family: $font-mulish;
    font-size: 23px;
    padding-left: 17px;
}

#h3-1{
    position: absolute;
    top: -27px;
    right: 153px;
    color: black;
    font-family: "Mulish", sans-serif;
    font-size: 39px;
    text-decoration: underline;

    @media(min-width:1000px){
        right: 239px;
    }
}

#h3-2{
    position: absolute;
    top: -27px;
    right: 130px;
    color: black;
    font-family: "Mulish", sans-serif;
    font-size: 39px;
    text-decoration: underline;

    @media(min-width:1000px){
        right: 219px;
    }
}

.morning-course-text h3{
    width: 94%;
    font-size:44px;
    font-family:$font-timesnewroman;
}

.morning-section{
    padding-left: 235px;
    float: left;
}

.button-morning-course{
    background-color: cadetblue;
    color: black;
    text-shadow: none;
    position: absolute;
    top: 210px;
    right: 146px;

    @media(min-width:750px){
        top: 141px;
        right: -236px;
    }
    @media(min-width:1000px){
        top: 139px;
        right: -300px;
    }
    
}

.morning-section-min-participants{
    position: relative;
    left: 37%;
}

/*
** MORNING-COURSE-INTERMEDIATE
*/

.morning-course-intermediate{
    height: 1206px;
}

@media(min-width:1000px){
    .morning-course-intermediate{
        height: 868px;
    }
}

.picture-morning-course-intermediate{
    text-align: center;
    right: 130px;
    top: 975px;
    float: right;
    position: absolute;
    display:none;

    @media(min-width:1000px){
        display:block;
    }
}

.picture-border-intermediate{
    border: 3px solid black;
    background-color: white;
    height: 318px;
    width: 504px;
    position: relative;
    top: -559px;
    right: -1313px;
    display:none;

    @media(min-width:1000px){
        display:block;
    }
}

.morning-course-text-over-int-h2{
    font-size:68px;
    text-shadow:0px 0px 3px grey;
    position: absolute;
    top: 39%;
    right: -47%;
    padding-left: 9%;

    @media(min-width:1000px){
        right: 44%;
        top: 86%;
    }
}

.morning-course-text-over-int h4{
    position: absolute;
    top: 281%;
    right: 18%;
    text-decoration: underline;

    @media(min-width:1000px){
        right: 53%;
        top: 227%;
    }

}

#text-over-b2,
#text-over-b1{
    font-size: 39px;
    font-family: 'Mulish';
    text-decoration: underline;
    position: absolute;
    right: 3%;
}

/*
** MORNING-COURSE-ADVANCED
*/

.morning-course-advanced{
    height: 1206px;
}

@media(min-width:1000px){
    .morning-course-advanced{
        height: 868px;
    }
}
.picture-border-advanced{
    border: 3px solid black;
    background-color: white;
    height: 393px;
    width: 473px;
    position: relative;
    top: 466px;
    right: -42px;
    display:none;

    @media(min-width:1000px){
        display:block;
    }
}
        
.picture-morning-course-advanced{
    text-align: center;
    position: absolute;
    top: 1030px;
    right: 1328px;
    display:none;

    @media(min-width:1000px){
        display:block;
    }
}

.morning-course-text-over-ad{
    width: 72%;
    position: relative;
    font-family: "Mulish", sans-serif;
    font-variant: small-caps;
}
.morning-course-text-over-ad-h2{
    position: absolute;
    top: 82px;
    right: -137px;
    font-size: 64px;
}

@media(min-width:1000px){
    .morning-course-text-over-ad-h2{
        top: -241px;
        right: 54px;
    }
}

.morning-course-text-over-ad h4{
    position:absolute;
    top: 269px;
    right: -59px;
    padding-top:10px;
    text-decoration: underline;
}

@media(min-width:1000px){
    .morning-course-text-over-ad h4{
        top: -130px;
        right: 143px;
    }
}


.morning-section-first-box-ad,
.morning-section-second-box-ad{
    height: 300px;
    width: 511px;
    background-color: white;
    color: black;
    position: absolute;
    top: 50%;
    right: -6%;
}
@media(min-width:1000px){
    .morning-section-first-box-ad,
    .morning-section-second-box-ad{
        top: 51%;
        right: 37%;
    }
}

.morning-section-second-box-ad{
    top: 69%;
}
@media(min-width:1000px){
    .morning-section-second-box-ad{
        top: 69%;
        right: 37%;
    }
}


/**
* AFTERNOON COURSE
*/

/**
* EVENING COURSE
*/

/**
* ONE-ON-ONE COURSE
*/