/**
*FOOTER Bereich
*/

.footer{
    font-family:$font-mulish;
    text-align: center;
    font-weight: bolder;
}

.footer-hr{
    margin-top: 0px;
}


.top{
    float:right;
    color:black;
}


/**
*RECHT
**/

.rechtliches{
    color:black;
}

