/**
*FOOTER Bereich
*/

.footer{
    font-family:$font-mulish;
    text-align: center;
    font-weight: bolder;
}

.footer-hr{
    margin-top: 0px;
}

.footer a{
    text-decoration: none;
}

.top{
    float:right;
    color:black;
}

