/**
* ALL TEXTS - ist in about pirius
*/

.text-size{
    font-family: $font-mulish;
    font-size: 166%;
}
    
.text-size-font{
    text-align: justify;
}


/**
* Header-Bereich
*/
.header {
    height: 620px;
    background-image: url("../img/header-background-edited.jpg");
    background-size: cover;
    background-position: 50% 20%;
}

.header-brand{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    text-decoration: none;
    font-weight:bold;
    font-size:200%;
    display:block;
    margin-left: -200%;
    
}

#header-brand{
    @media(min-width:1400px){
        margin-left: -178px;
    }
}

.header-brand-wrapper{
    margin-top: 32px;
    float:left;
}

.header-navbar{
    margin-right: -505px;

    @media ($bp-larger-than-tablet){
        margin-right: -351px;
    }

    @media(min-width:900px){
        margin-right: -176px;
    }

    @media($bp-larger-than-desktophd){
        margin-right:-414px;
    }

}

.header-navbar-links {
    color: white;
    float: right;
    font-family: $font-mulish;
    display:none;

    @media ($bp-larger-than-tablet){
        display:block;
    }
}

.header-navbar-links li{
    float: left;
    list-style-type: none;
    margin-top: 49px;
    margin-left: -51px;
    margin-right:100px;
    font-size: 110%;
}

.header-navbar-links a{
    color:white;
    text-decoration: none;
}

.header-navbar-links a:hover{
    color:gainsboro;
    text-decoration: underline;
    transition: all .5s;
}

#index-flag-ger{
    margin-top: 46px;
}


.slogan{
    padding-top: 152px;
    color: white;
    text-align: center;
    text-shadow:0px 0px 3px black;
}

.slogan-top{
    font-size: 450%;
    font-weight: bold;
    font-family: $font-timesnewroman;
}

.slogan-bottom{
    font-size: 280%;
    font-family: $font-mulish;
    font-weight: lighter;
}

.button{
    margin-top:50px;
    color:white;
    text-shadow:0px 0px 3px black;
}
.button:hover{
    color:white;
    text-shadow:0px 0px 3px black;
    text-decoration: none;
}

#side-menu-trigger{
    float:right;
    color:rgb(255, 255, 255);
    margin-top: 43px;
    margin-right: 512px;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;

    @media ($bp-larger-than-tablet){
        display:none;
    }
}
