/**
* Service Bereich
*/

.service{
    height: 800px;
}

.service-background{
    height: 800px;
    width: 50%;
    background-image: url("../img/service-background2.jpg");
    background-size: cover;
    float: left;
}

.service-background{
    display: none;

    @media ($bp-larger-than-desktophd){
        display: block;
    }
}

.service-title{
    font-family: $font-timesnewroman;
    padding-top: 75px;
    padding-bottom:11px;
    padding-left:0px;
    text-align: center;
    color:#313d49;

    @media ($bp-larger-than-phablet){
        padding-top: 110px;
        padding-bottom: 0px;
    }

    @media (min-width: 921px){
        padding-top:83px;
        padding-bottom:11px;
    }
}
.service-title-first{
    padding-bottom:80px;
    padding-right: 22px;
    padding-top: 23px;
}
.feature{
    padding-top: 100px;
    padding-bottom: 100px;
}
.feature-icon{
    width: 70px;
    height: 70px;
    margin-left: 8%;
    margin-top: -3%;
    background-color: rgb(30 ,30 ,30);
    border-radius: 10000px;
    color:rgb(255 ,255 ,255);
    text-align: center;
    font-size: 45px;
    float:left;
    transition: all 0.7s;
    position:absolute;

    @media($bp-larger-than-tablet){
        margin-top: -1%;
    }

    @media($bp-larger-than-desktophd){
        margin-left: 56%;
    }
}
.feature-icon:hover {
    transform: rotate(360deg);
}
.feature-icon-two{
    margin-top:-3%;

    @media($bp-larger-than-tablet){
        margin-top: -1%;
    }
}
.feature-icon-three{
    margin-top: -3%;

    @media($bp-larger-than-tablet){
        margin-top: -1%;
    }
}

.feature-text{
    font-size: 25px;
    padding-bottom: 69px;
    margin-bottom: -4px;
    margin-left: 30%;
    width: 60%;
    font-family: "Mulish", sans-serif;
    text-align: start;

    @media($bp-larger-than-tablet){
        margin-left: 24%;
        width: 71%;
    }
    @media($bp-larger-than-desktophd){
        margin-left: 65%;
    }
}





